<% field = 'created_at' if field.nil?
   display = 'title' if display.nil?

   prev_item = @item.previous(field)
   next_item = @item.next(field)
%>

<div class="col-lg-6 prev">
  <% unless prev_item.nil? %>
    <%= link_to "« #{prev_item.send(display)}".html_safe, prev_item %>
  <% end %>
</div>
<div class="col-lg-6 push-right next">
  <% unless next_item.nil? %>
    <%= link_to "#{next_item.send(display)} »".html_safe, next_item %>
  <% end %>
</div>
