<div class="column-item">
  <h3 class="title"><%= link_to item.title.html_safe, item %></h3>
  <%= truncate_html(item.rendered, length: 200) %>

  <small class="pull-right">
    <% item.tag.each do |tg| %>
      <span class="label label-info"><%= tg.text %></span>
    <% end %>
  </small>
  » <%= link_to t('app.details'), item %>
</div>
