<% unless item.i18n_articles.empty? %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= item.i18n_articles.first.title %></h3>
  </div>
  <div class="panel-body">
    <%= item.i18n_articles.first.intro %>
    <%= link_to t('app.details'), item %>

    <small class="pull-right"><% item.get_tags.each do |tg| %>
      <span class="label label-info"><%= tg.tag.text %></span><% end %></small>
  </div>
</div>
<% end %>