<div class="row">
  <div class="col-lg-9">
    <h1><%= @item.title %></h1>

    <%= @item.rendered.html_safe %>
    <small class="pull-right"><% @item.tag.each do |tg| %>
      <span class="label label-info"><%= tg.text %></span><% end %></small>
  </div>
  <div class="col-lg-3">
      <%= render :partial => 'relations/column', :locals => {:material => @item} %>
  </div>
</div>
