<h1>Welcome</h1>

<div class="row">
  <div class="col-md-4">
    <h3>News</h3>
    <%= render partial: "news/column", collection: @frontpage_news, as: :item %>
  </div>
  <div class="col-md-4">
    <h3>Events</h3>
    <%= render partial: "events/column", collection: @frontpage_events, as: :item %>
  </div>
</div>