<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= item.title %>
        at: <%= item.city %> <span class="label label-default"><%= item.country
    %></span></h3>
  </div>
  <div class="panel-body"><%= item.info %></div>
</div>
