<div class="row">
  <div class="col-lg-9">
    <h1><%= @item.title.html_safe %></h1>
    <%= @item.rendered.html_safe %>
  </div>
  <div class="col-lg-3">
    <%= render :partial => 'relations/column', :locals => {:material => @item} %>
  </div>
</div>
